// REQUIRED PARAMETERS
params {
    // path to raw/cleaned illumina reads
    illumina1 = null
    illumina2 = null

    // path to raw/cleaned pacbio reads
    pacbio = null

    // path to chromosome assembly
    chromosome = null

    // path to plasmid assembly
    plasmid = null

    // output directory
    outdir = null
}

// OPTIONAL PARAMETERS
// optional workflow execution params
params {
    threads = 1
    // path to directory where conda envs are stored
    condaEnvsDir = "$HOME/.conda/envs/"
}

// optional program paramters
params {
    skipDepChecks = false

    // Assembly related

    // short reads cleaning
    shortReadsKeepPercent = 80
    shortReadsStartTrimq = 40
    shortReadsMinTrimq = 28
    bbdukArgs = 'qtrim=rl minlength=40'

    pilonMaxIters = 6

    raconMaxIters = 4
    
    canuGenomeSize = null

    // whether to run circlator (+canu) or not
    forceCirclator = false
    noCirclator = false
}

// WORKFLOW ANALYSIS: report, timeline and trace
report {
    enabled = true
    file = "nextflow-report.html"
}
timeline {
    enabled = true
    file = "nextflow-timeline.html"
}
trace {
    enabled = true
    file = "nextflow-trace.tsv"
    sep = '\t'
}

// PROFILES
profiles {
    nscc {
        workDir = "$HOME/scratch/work/"

        // number of threads to use
        params.threads = 20
    }

    local {
        params.threads = 4
    }
}
