// REQUIRED PARAMETERS
params {
    // path to raw/cleaned illumina reads
    illumina1 = null
    illumina2 = null

    // path to raw/cleaned pacbio reads
    pacbio = null

    // path to chromosome assembly
    chromosome = null

    // path to plasmid assembly
    plasmid = null
}

// OPTIONAL PARAMETERS
// optional workflow execution params
params {
    threads = 1
    outdir = 'genome-assembly/'
    // path to directory where conda envs are stored
    condaEnvsDir = "$HOME/.conda/envs/"
}

// optional program paramters
params {
    skipDepChecks = false

    // Assembly related

    // short reads cleaning
    shortReadsKeepPercent = 80
    shortReadsStartTrimq = 40
    shortReadsMinTrimq = 28
    bbdukArgs = 'qtrim=rl minlength=40'

    pilonMaxIters = 6

    raconMaxIters = 4
    
    canuGenomeSize = null
}

// WORKFLOW ANALYSIS: report, timeline and trace
report {
    enabled = true
    file = "nextflow-report.html"
}
timeline {
    enabled = true
    file = "nextflow-timeline.html"
}
trace {
    enabled = true
    file = "nextflow-trace.tsv"
    sep = '\t'
}

// PROFILES
profiles {
    nscc {
        workDir = '/home/users/nus/e0325190/scratch/work/'

        // path to conda environments
        params.condaEnvsDir = '/home/users/nus/e0325190/.conda/envs/'

        // number of threads to use
        params.threads = 20
    }

    local {
        params.condaEnvsDir = '/home/chloe/.conda/envs/'
        params.threads = 4
    }
}
