report.enabled = true
timeline.enabled = true
trace.enabled = true
trace.sep = '\t'

params.outdir = '/home/chloe/Documents/NUS/UROPS/test-pipeline/'
params.condaEnvsDir = '/home/chloe/.conda/envs/'
params.threads = 6

report.file = "${params.outdir}nextflow-report.html" // incompatible with setting params in profile
timeline.file = "${params.outdir}nextflow-timeline.html"
trace.file = "${params.outdir}nextflow-trace.txt"
